//scss文件
@import "./mixin";
html,body{
  background: #f5f5f5;
  font-size: 14px;
}

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  //color: #333;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover{
    outline: none;
  }
}
//设置文字溢出
.tdd{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.router-fade-enter-active,.router-fade-leave-active{
  transition: opacity .3s;
}
.router-fade-enter,.router-fade-leave-active{
  opacity: 0;
}
.rating-page{
  padding-top:.45rem;
}
//通用向右箭头
.arrow-right::after{
  content: ' ';
  display: inline-block;
  border-right:1px solid #666;
  border-bottom:1px solid #666;
  @include wh(.1rem,.1rem);
  -webkit-transform:translateY(-50%) rotateZ(-45deg);
  -moz-transform:translateY(-50%) rotateZ(-45deg);
  -ms-transform:translateY(-50%) rotateZ(-45deg);
  -o-transform:translateY(-50%) rotateZ(-45deg);
  transform:translateY(-50%) rotateZ(-45deg);
  position: absolute;
  right: .2rem;
  top:50%;
}

.btn {
  @include ct;
  right: .2rem;
  padding: .03rem .1rem;
  background-color: transparent;
  border-radius: .03rem;
  font-size: .13rem;
}
.btn.buy-btn{
  border: 1px solid #ff4d64;
  color: #ff4d64;
  font-weight: bold;
}